{% extends 'base.html' %}

        
{%  block content %}
<section> 
<div style="width:80%;margin:60px auto">   
    <p style="font-size:50px;font-weight:bolder;margin-bottom:20px;">SEND MAIL</p>

    <form action="" method="POST">
        {% csrf_token %}
           <input class="form-control" style="margin-left:10px" type="text"  placeholder="Enter Subject" name="subject" >
        
            <textarea style="margin-top:20px;height:300px;" class="form-control" placeholder="Enter your message" name="message"> </textarea>
         <button class="btn btn-success" style="float:left;margin-top:10px;">Submit</button>    
    </form>
      
</div>

</section>
{% endblock content %}
